/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.role-chooser {
  padding-top: 3rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-top: 3px solid $grey_menu;
      background: $grey_menu;
      min-height: 147px;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border-color: $green;
      }
    }

    a {
      font-size: 2.25rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.025rem;
      color: $grey_dark;

      &:hover {
        color: $black;
        text-decoration: none;
      }
    }
  }
}

.registration-form {
  .more {
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 2px solid $black;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $grey_dark;
    }
  }

  label {
    &.required {
      &::after {
        content: " *";
        position: relative;
        color: $red;
      }
    }
  }

  .stepNr {
    margin-right: 1rem;
  }

  .stepswitch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .costs {
    font-weight: 500;
  }

  h2 {
    font-size: 2.25rem;
    text-transform: uppercase;
  }

  .heading {
    border-bottom: solid 1px $grey;
    text-align: center;

    h2 {
      padding-top: 2rem;
    }

    p {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  #devision {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      border-bottom: solid 1px $grey;

      li {
        width: 50%;

        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }

        &:last-child {
          width: 50%;
          text-align: right;

          input {
            display: none;
          }

          .btn {
            background-color: $grey_light;
            font-weight: 500;
            font-size: 0.625rem;
            color: $white;
            border-color: $grey_light;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            width: 70px;
            height: 30px;

            &:hover {
              background-color: $green;
              border-color: $green;
            }
          }

          input[type=radio]:checked + label {
            background-color: $green;
            border-color: $green;
            background-image: url(../images/checked.svg);
            font-size: 0;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }

  .nomination {
    border-bottom: solid 1px $grey;
    margin-bottom: 1.5rem;

    h2 {
      margin-top: 2rem;
    }

    h4 {
      font-size: 1.188rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .subheadig {
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
      }

      p {
        padding-bottom: 1.5rem;
        color: $grey_dark;
      }
    }

    .heading {
      margin-bottom: 2.5rem;
    }

    .form-check {
      margin-bottom: 1.85rem;
    }
  }

  .form-footer {
    margin-bottom: 4rem;
  }

  .step-item {
    display: none;

    &.active {
      display: block;
    }
  }

  .error-message-cat-1-2 {
    display: none;

    &.show {
      display: flex;
    }
  }

  .error-message-cat-3 {
    display: none;

    &.show {
      display: flex;
    }
  }

  .form-group {
    &.hide {
      display: none;
    }
  }

  .error-message-cat-1-2,
  .error-message-cat-3 {
    color: $red;
    font-weight: 500;
  }

  .userdata {
    margin-bottom: 1.5rem;

    .heading {
      border-bottom: 0;
    }

    .row {
      border-bottom: solid 1px $grey;
      padding-top: 2.3rem;
      padding-bottom: 1.7rem;

      &:first-child {
        border-bottom: 0;
      }

      input {
        background-color: $grey_menu;
        border-color: $grey_menu;
        font-size: 0.875rem;
        height: 2.5rem;

        &#profileImage {
          background: none;
        }

        &:-internal-autofill-selected {
          background-color: #fff;
        }
      }
    }

    h3 {
      font-size: 1.188rem;
      text-transform: uppercase;
      padding-bottom: 1.5rem;
    }
  }
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: $black;
}

.bootstrap-select.is-valid .dropdown-toggle,
.was-validated .bootstrap-select select:valid + .dropdown-toggle {
  border-color: inherit;
  border: none;
}

.bootstrap-select {
  .dropdown-toggle {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    height: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: none;
  }
}

@include media-breakpoint-up(md) {
  .registration-form {
    .stepswitch {
      justify-content: flex-end;
    }

    #devision {
      ul {
        li {
          width: 30%;

          &:last-child {
            width: 10%;
          }

          &:nth-child(2),
          &:nth-child(3) {
            display: block;
          }
        }
      }
    }

    .nomination {
      h2 {
        margin-top: 4rem;
      }
    }
  }
}
