.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.topbar {
  background-color: $grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .wpml-ls-legacy-list-horizontal {
    border: 0;
    padding: 0;

    a {
      &:hover {
        opacity: 0.8;
      }

      img {
        width: 30px;
        height: auto;
      }
    }
  }

  .social {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    li {
      margin-right: 1.2rem;

      a {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.site-header {
  border-bottom: 2px solid $grey;
  margin-bottom: 1rem;

  .navbar {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    #headerMenu {
      a {
        text-transform: uppercase;
        color: $black;

        &:hover {
          color: $black;
        }
      }

      ul {
        li {
          &:last-child {
            border: 0;
          }

          line-height: 2.8;
          border-bottom: 1px solid $grey;
        }
      }

      .dropdown-menu {
        border: 0;
        border-top: 1px solid $grey;
        border-radius: 0;

        li {
          line-height: 1.2;
          border: 0;
          padding-left: 0.75rem;
        }
      }
    }
  }

  .logo {
    img {
      width: 68px;
      height: auto;
    }
  }

  .login {
    position: absolute;
    top: 0.25rem;
    right: 68px;
    z-index: 1000;

    &.btn-primary {
      text-transform: uppercase;
      font-size: 0.75rem;

      &:hover {
        color: $white;
        cursor: pointer;
      }

      background-color: $red;
      color: $white;
      border-color: $red;
    }
  }

  .navbar-toggler {
    position: relative;
    width: 40px;
    height: 40px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .navbar-toggler[aria-expanded="false"] {
    .menu_close {
      display: none;
    }
  }

  .navbar-toggler[aria-expanded="true"] {
    .menu_open {
      display: none;
    }
  }
}

@include media-breakpoint-up(lg) {
  .site-header {
    border: 0;

    .logo {
      img {
        width: 115px;
      }
    }

    .login {
      position: relative;
      top: 0;
      right: 0;

      &.btn-primary {
        font-size: 1rem;
      }
    }

    .navbar {
      margin: 0;
      border-bottom: 1px solid $grey;
      height: 6.5rem;
      justify-content: space-between;

      #headerMenu {
        font-size: 0.875rem;

        a {
          color: $grey_dark;
        }

        ul {
          li {
            border: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
          }
        }

        .dropdown-menu {
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
          font-size: 0.875rem;
          background-color: $grey_menu;
          border-radius: 0;
          border: 0;
          border-top: 2px solid $red;
          margin-top: 1.47rem;

          li {
            padding: 0;
          }
        }
      }

      .navbar-collapse {
        flex-grow: inherit;
      }
    }
  }
}
